Debug/
Debug/

Software/.metadata/
.tree
.index
.pdom
.pdom
.log
.index
.tree
.xml
*.xml
*.snap
*.index
*.log
*.xml
*.asv
*.ini
*.xml
*.xmi
*.prefs
*.resources
*.xmi
Software/GUI_latest/lastReadData.csv
*.pyc
