Debug\
Debug/
*.tree
*.tree
*.index
*.pdom
*.pdom
*.log
*.index
*.tree
Software/.metadata/.log
Software/.metadata/.mylyn/.tasks.xml.zip
Software/.metadata/.mylyn/tasks.xml.zip
Software/.metadata/.plugins/org.eclipse.cdt.core/.log
Software/.metadata/.plugins/org.eclipse.cdt.core/atlasHaptic_nucleo767ZI.1537722814767.pdom
Software/.metadata/.plugins/org.eclipse.cdt.ui/atlasHaptic_nucleo767ZI.build.log
Software/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
Software/.metadata/.plugins/org.eclipse.core.resources/.history/12/e0dbc1d855c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/13/7007821868c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/16/70501a0455c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/18/1012021956c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/3c/606e2f5501c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/43/503e3c1f01c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/49/207e83e61ac000181294e83cb22b949c
Software/.metadata/.plugins/org.eclipse.core.resources/.history/77/40ad1fb567c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/7a/b084914601c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/8/90aa924e68c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/83/70a772f600c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/8f/a02aad1c54c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/a3/10b8e7d901c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/a7/e0f4693268c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/ad/b060d4c26dc3001819c0a4072a78dd2f
Software/.metadata/.plugins/org.eclipse.core.resources/.history/b/50d1c1b36fc300181ad482ed59843251
Software/.metadata/.plugins/org.eclipse.core.resources/.history/b7/90fb631c02c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/b9/606d9e7c69c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/bf/60356bda00c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/c1/e068b93201c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/cb/80f9857e31c0001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/d3/d02c6a1e68c3001818e5bc3042fc3103
Software/.metadata/.plugins/org.eclipse.core.resources/.history/eb/d028bab301c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.history/fc/20f76b116dc3001819c0a4072a78dd2f
Software/.metadata/.plugins/org.eclipse.core.resources/.history/fc/90c9e6d600c1001811e0bf8a25090cc3
Software/.metadata/.plugins/org.eclipse.core.resources/.projects/atlasHaptic_nucleo767ZI/.indexes/be/f9/history.index
Software/.metadata/.plugins/org.eclipse.core.resources/.projects/atlasHaptic_nucleo767ZI/.indexes/be/history.index
Software/.metadata/.plugins/org.eclipse.core.resources/.projects/atlasHaptic_nucleo767ZI/.indexes/c4/f9/history.index
Software/.metadata/.plugins/org.eclipse.core.resources/.projects/atlasHaptic_nucleo767ZI/.indexes/c4/history.index
Software/.metadata/.plugins/org.eclipse.core.resources/.projects/atlasHaptic_nucleo767ZI/.indexes/c4/properties.index
Software/.metadata/.plugins/org.eclipse.core.resources/.projects/atlasHaptic_nucleo767ZI/.markers
Software/.metadata/.plugins/org.eclipse.core.resources/.root/10.tree
Software/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
Software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
Software/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Software/.metadata/version.ini
